<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.QuestionAnswerMapper">

    <resultMap id="BaseResultMap" type="com.web.domain.QuestionAnswer">
            <id property="qaId" column="qa_id" jdbcType="INTEGER"/>
            <result property="questionTitle" column="question_title" jdbcType="VARCHAR"/>
            <result property="questionContent" column="question_content" jdbcType="VARCHAR"/>
            <result property="questionCreatorId" column="question_creator_id" jdbcType="INTEGER"/>
            <result property="questionCreateTime" column="question_create_time" jdbcType="TIMESTAMP"/>
            <result property="answerContent" column="answer_content" jdbcType="VARCHAR"/>
            <result property="answerCreatorId" column="answer_creator_id" jdbcType="INTEGER"/>
            <result property="answerCreateTime" column="answer_create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        qa_id,question_title,question_content,
        question_creator_id,question_create_time,answer_content,
        answer_creator_id,answer_create_time
    </sql>
</mapper>
